#elso_oldal{
    background-color: darkslategray;
    font-size: medium;
}
h1{
    color: white;
    text-align: center;
}
#elso_tab{
    width: 640px;
    margin: 0 auto;
    display: block;
    background-image: url(./IMG/hatter.jpg);
    
}

.kepek{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
a:active, a:visited,a:link{
    color: black;
}
#masodik_oldal{
    background-color: white;
}
#mas_tab{
    color: white;
}
#harmadik{
    display: block;
    float: left;
}